@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Allura&family=Shadows+Into+Light&family=Tangerine&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto' !important;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));
  letter-spacing: 3px;;
}


h1{
  font-family: "Orbitron" !important;
}
p {
  font-family: "Shadows Into Light";
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
}
